
/*
================ estilo panel de maestro ==============
by: 
	jorge luis camarillo cristobal
		@dered170
	Luis Angel Romero Pastén
		@netLPN
===================================================
				colores
===================================================
verde   = rgb(53,155,53);
        = #359B35;
gris    = rgb(221,221,221);
        = #DDDDDD;
blanco  = rgb(255,255,255);
        = #FFFFFF;
===================================================
		importando las fuentes
===================================================
*/
@font-face{
	font-family: Adequate;
	src: url('../fonts/Adequate.ttf') format('truetype');
}
@font-face{
	font-family: ignite;
	src: url('../fonts/ignite.ttf') format('truetype');
}
@font-face{
	font-family:open-sans ;
	src: url('../fonts/OpenSans-Light.ttf')   format('truetype');
}

*{
	margin: 0;
}
body{
	/*background: url(../img/estacion.jpg) rgba(0,0,0,0.6);
	background-repeat: no-repeat;*/
	background: #278D70;
	margin: 0;
	padding: 0;
}

nav#navegacion{
	display: block;
	margin: 10px auto;
	width: 100%;
	max-width: 1000px;
/*	background: white;*/
	padding: 0;
	height: 40px;
		transition: all linear .3s;
	-webkit-transition: all linear .3s;

}
nav#navegacion ul{
	padding: 0;
	margin: 0 auto;
		transition: all linear .3s;
	-webkit-transition: all linear .3s;

}
nav ul li{
/*	border-top: 4px solid white;
	border-bottom: 1px solid white;
	border-right: 2px solid white;
	border-left:2px solid white;
	background: rgb(53,155,53);*/
	height: 45px;
	line-height: 42px;
	text-align: center;
	float: right;
	display: inline-block;
	border-radius: 0px;	
	width: 120px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	transition: all linear .3s;
	-webkit-transition: all linear .3s;
}
nav ul li:hover {
	border-bottom: 0px solid #0073E8;
	background:  url(../imagenes/bg-light.png);
	background-position: center top;
	background-repeat: no-repeat;
	cursor: pointer;
}
nav ul li a{
	vertical-align: top;
	border-radius: 5px;
	line-height: 50px;
	height: 50px;
	width: 100%;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	font-family: ignite ,sans-serif;
	color: whitesmoke;
	transition: all linear .3s;
	-webkit-transition: all linear .3s;

}
nav ul li a span{
	vertical-align: top;
	margin: 0;
		transition: all linear .3s;
	-webkit-transition: all linear .3s;

}
nav ul li a span img{
	vertical-align: top;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	height: auto;
	background-color: whitesmoke;
	transition: all linear .5s;
	-webkit-transition: all linear .5s;
	box-shadow: 4px 3px 5px rgba(0,0,0,0.6)

}
nav ul li:hover a span img{
	background-color: black;	
	-o-animation-duration: .3s;
-ms-animation-duration: .3s;
-moz-animation-duration: .3s;
-webkit-animation-duration: .3s;
animation-duration: .3s;
-o-animation-name: item;
-ms-animation-name: item;
-moz-animation-name: item;
-webkit-animation-name: item;
animation-name: item;
-o-animation-iteration-count: 5;
-ms-animation-iteration-count: 5;
-moz-animation-iteration-count: 5;
-webkit-animation-iteration-count: 5;
animation-iteration-count: 5;
}
/*inicia el bloque Contenedor*/
section#contenedor{
	max-width: 1000px;
	width: 100%;
	background: none;
	margin: 0 auto;
	height: 580px;
	display: block;
	border-radius: 10px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
/*inicia le bloque de datos*/
section#datos{
	background: #fff url(../imagenes/geometry_panel.png);
	float: left;
	display: inline-block;	
	width: 50%;
	padding-bottom: 20px;
	margin: 0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-shadow: 3px 0 5px -4px rgba(0,0,0,0.5);
}
section#datos div{
	background: none;
	width: 100%;
	display: inline-block;
	padding: 20px  0px 20px 0px;
	text-align:center;
}
section#datos div img{
	box-shadow:  0px 7px 10px rgba(0,0,0,0.5);
	width: 150px;
	height:150px;
	padding: 35px;
	border-radius: 50%;
	background: transparent url(../imagenes/borderimg.png);
	background-position: center;
	background-repeat: no-repeat;
}
section#datos div img:hover{
	padding: 35px;
	-o-animation-duration: .3s;
	-ms-animation-duration: .3s;
	-moz-animation-duration: .3s;
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-o-animation-name: item;
	-ms-animation-name: item;
	-moz-animation-name: item;
	-webkit-animation-name: item;
	animation-name: item;
	-o-animation-iteration-count: 5;
	-ms-animation-iteration-count: 5;
	-moz-animation-iteration-count: 5;
	-webkit-animation-iteration-count: 5;
	animation-iteration-count: 5;
}
section#datos h1, h2, h3{
	font-weight: 500;
	text-align: center;
	margin: 0 auto;
	font-family: open-sans , sans-serif;
}
section#datos h1{
	font-family: open-sans , sans-serif;
	text-transform: capitalize;
	color:  #45505c;
	background: white;
	box-shadow: 0px 3px 5px -4px rgba(0,0,0,0.5);
	padding:10px 0;
	width: 80%;
	box-shadow: 0px -5px 15px -3px rgba(0,0,0,0.2);
	z-index: 1;
}
section#datos h2{
	font-family: Adequate,sans-serif !important;
	text-transform: uppercase;
	font-size: 25px;
	box-shadow: 0px 7px 10px -2px rgba(0,0,0,0.4);
	font-style: bold;
	font-weight: 900;
	color: #FFFFFF;
	background-color: #34B297;
	padding: 20px 0 20px 20px;
	margin: 0 0 3px 0;
	background: #34B297;
	color: #fff;
	font-size: 21px;
	font-weight: bold;
	line-height: 1.3em;
	border-radius: 0 2px 2px 0;
	border-top: 2px dashed #293946;
	border-bottom: 2px dashed #293946;
	box-shadow: 0 0 0 4px #34B297, 2px 1px 6px 4px #34B297;
	text-shadow: -1px -1px #444;
	font-weight: normal;
	z-index: 2;
}
section#datos h3{

	color: #45505c;
	font-family: open-sans, sans-serif;
	padding: 10px 0;
	width: 80%;
	background: white;
	z-index: -1;
	font-weight: 700;
	box-shadow: 0px 5px 15px 3px rgba(0,0,0,0.2);


}
section#sesion{
	background: white;
	float: left;
	margin: 0 0 15px 0;
	width: 50%;
	display: inline-block;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-shadow: 0 3px 5px rgba(0,0,0,0.5)
}
section#sesion p{
	display: inline-block;
	margin: 0;
	width: 100%;
	float: left;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	font-weight: 500;
}
section#sesion p:first-child{
	color:  #f5f5f5;
	width: 50%;
	font-family: open-sans, sans-serif;
	font-size: 25px;
	margin: 0;
	background-color: #34B297;
}
section#sesion p#idsesion{
	width: 50%;
	font-family: open-sans, sans-serif;
	color: black;
	font-size: 25px;
	padding: 0px 15px;
}
section#alumnos{
	display: inline-block;
	margin: 0 auto;
	width: 50%;
	height: 30px;
	padding: auto 0;
	background: none;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
#veralumnos{
	display: inline-block;
	width: 100%;
	height: 60px;
	margin: 0;
	float: left;
	padding: auto 0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	text-align: center;
	background: none;
}
#veralumnos a#actualizar{
	width: 50px;
	margin-top: 5px;
	display: inline-block;
	text-decoration: none;
	color: black;
	height: 50px;
	font-family: Adequate, sans-serif;
	background: #fff url(../imagenes/actualizacion.png) no-repeat;
	background-position: 50% 50%;
	-webkit-background-size: 60px 60px;
	-moz-background-size: 60px 60px;
	background-size: 60px 60px;
	border-radius: 50%;
}
#veralumnos a#actualizar:active{
	background: #fff url(../imagenes/loading.gif) no-repeat;
	background-position: 50% 50%;
	-webkit-background-size: 40px 40px;
	-moz-background-size: 40px 40px;
	background-size: 40px 40px;
}
div#listalumnos{
	background: none;
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 5px;
	display: block;
	width: 100%;
	height: 450px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: auto;
}
.nombre, .matricula{
	display: inline-block;
	text-decoration: none;
	color: #606060;
	background: white;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0px 0px 0px 13px;
	float: left;
	border-top: 1px solid #278D70;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #278D70;
	border-right: none;
	font-family: open-sans;
	margin: 3px 0 3px 0;
	height: 32px;
	line-height: 32px;
	-webkit-transition: all linear .2s;
	-moz-transition: all linear .2s;
	-ms-transition: all linear .2s;
	-o-transition: all linear .2s;
	transition: all linear .2s;
}
.nombre{
	width: 75%;
	border-radius: 10px 0 0 10px;
	border-left: 3px solid #B73E4C;
	background: #fff url(../imagenes/division_pane.png) no-repeat;
	background-position: 100% 50%;
	background-size: 45px 38px;
	
}
.matricula{
	border-left: none;
	width: 25%;
	text-align: center;
	border-right: 3px solid #B73E4C;
	background: #fff url(../imagene/esquina.png) no-repeat;
	background-position: 100% 50%;
	background-size: 20px 38px;
	border-radius: 0 0px 25px 0;
}



@-moz-keyframes item{
	50%{
		-o-transform:translateY(10px);
		-ms-transform:translateY(10px);
		-moz-transform:translateY(10px);
		-webkit-transform:translateY(10px);
		transform:translateY(10px)
	}
	100%{
		-o-transform:translateY(0);
		-ms-transform:translateY(0);
		-moz-transform:translateY(0);
		-webkit-transform:translateY(0);
		transform:translateY(0)
	}
}
@-webkit-keyframes item{
	50%{
		-o-transform:translateY(10px);
		-ms-transform:translateY(10px);
		-moz-transform:translateY(10px);
		-webkit-transform:translateY(10px);
		transform:translateY(10px)
	}
	100%{
		-o-transform:translateY(0);
		-ms-transform:translateY(0);
		-moz-transform:translateY(0);
		-webkit-transform:translateY(0);
		transform:translateY(0)
	}
}
@-o-keyframes item{
	50%{
		-o-transform:translateY(10px);
		-ms-transform:translateY(10px);
		-moz-transform:translateY(10px);
		-webkit-transform:translateY(10px);
		transform:translateY(10px)
	}
	100%{
		-o-transform:translateY(0);
		-ms-transform:translateY(0);
		-moz-transform:translateY(0);
		-webkit-transform:translateY(0);
		transform:translateY(0)
	}
}
@-ms-keyframes item{
	50%{
		-o-transform:translateY(10px);
		-ms-transform:translateY(10px);
		-moz-transform:translateY(10px);
		-webkit-transform:translateY(10px);
		transform:translateY(10px)
	}
	100%{
		-o-transform:translateY(0);
		-ms-transform:translateY(0);
		-moz-transform:translateY(0);
		-webkit-transform:translateY(0);
		transform:translateY(0)
	}
}
@keyframes item{
	50%{
		-o-transform:translateY(10px);
		-ms-transform:translateY(10px);
		-moz-transform:translateY(10px);
		-webkit-transform:translateY(10px);
		transform:translateY(10px)}
	100%{
		-o-transform:translateY(0);
		-ms-transform:translateY(0);
		-moz-transform:translateY(0);
		-webkit-transform:translateY(0);
		transform:translateY(0)}
}